<div id="app">
  <div class="container">
    <header class="header">
      <div class="header__inner">

        <div class="logo">
          <img src="assets/logo.png" alt="">
        </div>

        <div class="search">
          <app-search></app-search>
        </div>

      </div>
    </header>
    <section class="search__advanced">
      <app-search-advanced></app-search-advanced>
    </section>
    <section class="search__page">
      <app-search-page></app-search-page>
    </section>
  </div>
</div>